
.cartContainer{
    @media only screen and (max-width: 1000px) {
        padding:1rem;
        margin: 1rem;
    }
   

    .buyContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        .totalPrice{
            margin-right: 3rem;

            @media only screen and (max-width: 1000px) {
                margin-right: 2rem;
            }
        }
    
        .buyButton{
            padding: 1rem 3rem;
            font-size: 1.5rem;
            margin-top: 2rem;
            background: #8ce0c4;
            color: #323232;
            border: none;
            border-radius: 30px;
            outline: none;
            box-shadow: -2px 2px 9px 0px rgba(26, 26, 26, 0.2);
            cursor: pointer;
    
            &:hover{
                box-shadow: -2px 2px 9px 0px rgba(26, 26, 26, 0.4);
            }
        }
    }
}
